@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h1 {
    @apply font-bold text-2xl mb-4;
  }

  .wrapper {
    @apply lg:h-auto lg:my-5 lg:ml-[596px] w-full mx-0 my-20 lg:mr-5 lg:block absolute lg:static;
  }

  .wrapper-inner {
    @apply relative max-w-full bg-white p-10 shadow-md;
  }

  .grey-border {
    @apply border-solid border-slate-300 border rounded-sm;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #647487;
      border-radius: 25px;
  
  }
}
